@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: rgba(255,255,255,0.03);
  border-right: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  transition: 0.4s;
  padding: 40px 20px;
}

.sidebar.collapsed {
  width: 70px;
}

/* LOGO */

.logo {
  font-size: 22px;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 0 0 15px #ffffff;
  transition: 0.4s;
}

.sidebar.collapsed .logo {
  opacity: 0;
}

/* NAVIGATION */

.sidebar nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;
  opacity: 0.7;
  transition: 0.3s;
  font-size: 18px;
}

.sidebar nav a:hover {
  opacity: 1;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.sidebar.collapsed nav a {
  font-size: 0;
  opacity: 0;
}

/* SOCIAL ICONS */

.sidebar .socials {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.sidebar .socials a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  margin: 10px 0;
  transition: 0.3s;
  font-size: 16px;
}

.sidebar .socials a:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
}

.sidebar.collapsed .socials a span {
  display: none;
}

.sidebar.collapsed .socials a svg {
  margin-left: 5px;
}

#toggle-btn {
  position: fixed;
  top: 20px;
  left: 260px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 24px;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

.sidebar.collapsed + #toggle-btn {
  left: 90px;
}

#toggle-btn:hover {
  text-shadow: 0 0 10px #fff;
}

.content {
  margin-left: 240px;
  position: relative;
  height: 100vh;
  transition: 0.4s;
}

.sidebar.collapsed ~ .content {
  margin-left: 70px;
}

#bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* HERO SECTION */

.hero {
  position: relative;
  z-index: 2;
  padding: 80px;
  margin-top: 130px;
}

.hero h1 {
  font-size: 58px;
  text-shadow: 0 0 15px #ffffff;
}

.hero p {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 10px;
}

.about {
  position: relative;
  z-index: 2;
  padding: 80px;
  margin-top: 40px;
  max-width: 900px;
}

.about h2 {
  font-size: 32px;
  text-shadow: 0 0 10px #ffffff;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  opacity: 0.8;
  line-height: 1.5;
}
